@media(min-width:500px) {
    body{
        background-color: red;
    }
    h1{
        color: purple;
    }
}
@media(min-width:800px) {
    body{
        background-color: green;
    }
}
@media(min-width:1100px) {
    body{
        background-color: pink;
    }
}